<%- include('header')%>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">View Mall </h3>
            
            </div>
            <form class="search-bar d-flex" >
           
              </form>
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">view Mall</h4>
                           
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Mall Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <%for(var i of mall){%>
                                            <tr>
                                                <td scope="col"><%=i.MallName%></td> 
                                                <td ><a href="/mall/delete_mall/<%= i.id %> "><i class="mdi mdi-delete"></i></a>&nbsp;
                                                    |&nbsp;&nbsp;| &nbsp;<a href="/mall/updateData/<%= i.id %>"><i class="mdi mdi-table-edit"></i></a></th>
                                                 
                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>

                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer')%>